{% extends 'base.html.twig' %}

{% block title %}Create Pokémon team!{% endblock %}

{% block body %}
    <h1 class="display-5 fw-bold">Create team!</h1>
    {{ form_start(form) }}
    {{ form_rest(form) }}

    <div class="container mx-auto mt-4">
        <div class="row">
            <div class="col-md-4">
                <div class="card" style="width: 18rem;" id="Pokemon1">
                    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/503.png"
                         class="card-img-top" alt="Poke ball">
                    <div class="card-body">
                        <h5 class="card-title">Samurott</h5>
                        <h6 class="card-subtitle mb-2 text-muted">238</h6>
                        <p class="card-text">Abilities: Torrent, Shell-armor</p>
                        <p class="card-text">Types: Water</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://orig00.deviantart.net/696e/f/2013/019/2/7/pokeball_by_zel_duh-d5s04qj.gif"
                         class="card-img-top" alt="Poke ball">
                    <div class="card-body">
                        <h5 class="card-title">Pokemon</h5>
                        <h6 class="card-subtitle mb-2 text-muted">EXP</h6>
                        <p class="card-text">Abilities:</p>
                        <p class="card-text">Types:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://orig00.deviantart.net/696e/f/2013/019/2/7/pokeball_by_zel_duh-d5s04qj.gif"
                         class="card-img-top" alt="Poke ball">
                    <div class="card-body">
                        <h5 class="card-title">Pokemon</h5>
                        <h6 class="card-subtitle mb-2 text-muted">EXP</h6>
                        <p class="card-text">Abilities:</p>
                        <p class="card-text">Types:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://orig00.deviantart.net/696e/f/2013/019/2/7/pokeball_by_zel_duh-d5s04qj.gif"
                         class="card-img-top" alt="Poke ball">
                    <div class="card-body">
                        <h5 class="card-title">Pokemon</h5>
                        <h6 class="card-subtitle mb-2 text-muted">EXP</h6>
                        <p class="card-text">Abilities:</p>
                        <p class="card-text">Types:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://orig00.deviantart.net/696e/f/2013/019/2/7/pokeball_by_zel_duh-d5s04qj.gif"
                         class="card-img-top" alt="Poke ball">
                    <div class="card-body">
                        <h5 class="card-title">Pokemon</h5>
                        <h6 class="card-subtitle mb-2 text-muted">EXP</h6>
                        <p class="card-text">Abilities:</p>
                        <p class="card-text">Types:</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="width: 18rem;">
                    <img src="https://orig00.deviantart.net/696e/f/2013/019/2/7/pokeball_by_zel_duh-d5s04qj.gif"
                         class="card-img-top" alt="Poke ball">
                    <div class="card-body">
                        <h5 class="card-title">Pokemon</h5>
                        <h6 class="card-subtitle mb-2 text-muted">EXP</h6>
                        <p class="card-text">Abilities:</p>
                        <p class="card-text">Types:</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="btn btn-primary" name="Insert" onclick="getNewPokemon()">Gotta Catch 'Em All</a>
    <a href="/team/create" class="btn btn-secondary" style="float: right">Reset</a>
    <a href="/team" class="btn btn-secondary" style="float: right; margin-right: 2px">Homepage</a>
    {{ form_end(form) }}
    <script type="text/javascript">
        function getNewPokemon() {
            jQuery.get("/pokemon/new", function (data) {
                let i;
                let pokemon = '<img src="' + data.sprite + '" class="card-img-top" alt="' + data.name + '">' +
                    '<div class="card-body">' +
                    '<h5 class="card-title">' + data.name + '</h5>' +
                    '<h6 class="card-subtitle mb-2 text-muted">' + data.base_experience + '</h6>' +
                    '<p class="card-text">Abilities: ';
                pokemon += '</p><p class="card-text">Types: ';
                pokemon += '</p></div>';
                $("#Pokemon1").html(pokemon);
            });
        }
    </script>
{% endblock %}