{% extends 'base.html.twig' %}

{% block body %}
    <h1>This program have 2 page:</h1>
    <ul>
        <li>
            <a href="/team/create">Create page</a> when you can create your random Pokémon team, chose a powerful name
            for
            your team and let chance choose the Pokémon.
        </li>
        <li>
            <a href="/team/list">List page</a> when you can check all the created Pokémon teams.
        </li>
    </ul>
    <p>P.S. in list page you can modify the name of a team.</p>
{% endblock %}
